.main-content
{
	background-color: black;
	flex: 1;
	overflow: auto;
	border-radius: 1rem;
	padding: 0rem 1.5rem;
}


.sticky-nav
{
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	background-color: #121212;
	align-items: center;
	padding: 1rem 0;
	z-index: 10;
}

.sticky-nav-icons
{
	margin-left: 0.75rem;
}

.sticky-nav-options
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-item
{
	margin-right: 1rem;
}

.dark-badge
{
	background-color: black;
	color: white;
}

.card
{
	background-color: #232323;
	width: 150px;
	border-radius: 0.5rem;
	padding: 1rem;
	margin-left: 1.5rem;
	margin-top: 1rem;
}

.cards-container
{
	display: flex;
	flex-wrap:  wrap;
}

.card-img
{
	width: 100%;
	border-radius: 0.5rem;
}

.card-title
{
	font-weight: 600;
}

.card-info
{
	font-size: 0.85rem;
	opacity: 0.8;
}

.footer
{
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.line
{
	width: 90%;
	height: 30%;
	border-top: 1px solid white;
	opacity: 0.4;
}



@media (max-width: 1000px)
{
	.hide
	{
		display: none;
	}
}